@media screen and (max-width: 1280px) {
  .header {
    padding: 34px 25px;
    height: 101px;
  }

  .logo h2 {
    font-size: 22px;
  }

  footer{
    height: 22px;
  }


  footer > .footerWrapper{
    flex-wrap: wrap;
  }


}

@media screen and (max-width: 1215px) {
  .figmaCon {
    overflow-x: auto;
    padding: 16px 16px 10px 16px;
    justify-content: space-between;
  }

  .figmaCon::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .card:nth-child(2) {
    order: 4;
  }

  .card:nth-child(3) {
    order: 5;
  }

  .mt-minus {
    margin-top: unset;
  }
}

@media screen and (max-width: 1090px) {
  .btn {
    padding: 10px;
    width: 140px;
  }

  .login {
    width: 80px;
  }

  .mainNav {
    justify-content: flex-end;
  }

  .navbtn > a,
  .navbtn div a:nth-child(2),
  .mainNavlist,
  .btn-mobile-nav ion-icon:last-child {
    display: none;
  }

  .mobileDiv,
  .btn-mobile-nav {
    display: block;
  }

  .btn-mobile-nav ion-icon:first-child {
    font-size: 40px;
  }
}

@media screen and (max-width: 997px) {
  .mainhero {
    width: 100%;
    padding: 0px 10px;
  }

  .herotext h1 {
    font-size: 64px;
    /* width: 100%; */
  }

  .cardSection > h2 {
    width: 50%;
    text-align: center;
    text-wrap: wrap;
    /* font-size: 32px; */
  }

  .talentWrapperSec{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .talentWrapper {
    width: 70%;
    background-position: center;
  }

  .talentLowWrapper {
    flex-direction: column;
    width: 100%;
  }

  .textContent > p {
    text-align: center;
    font-size: 40px;
    width: 400px;
  }

  .talentTopWrapper {
    width: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textContent > div button {
    padding: 18px 30px;
  }

  .cardWrapper {
    width: 320px;
    padding: 5px;
  }

  /* Text Only */

  .textOnly {
      margin: 88px 0px 53px 0px;
      font-size: 40px;
      width: 100%;
      padding: 0;
      align-items: center;
      justify-content: center;
      display: flex;
  }

  .textOnly p {
      width: 80%;
  }

  /* Button Wrapper */

  .txt {
      padding: 0;
  }

  .txt > button {
      width: 140px;
  }

  /* Card Row Section */

  .cardRow {
      flex-direction: column;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .cardRow > div {
      width: 90%;
  }

  .cardTwo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      padding: 50px 0;
  }

  .cardTwo > .titleCon > .direction {
      display: flex;
  }

  .cardTwo > .image-wrapper-one {
      margin-top: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .title {
      margin: 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .cardTopCard, .cardTop, .last {
    display: none;
  }

  .load {
    display: block;
  }


}

@media screen and (max-width: 660px) {
  
  .herotext h1 {
    font-size: 50px;
    /* width: 100%; */
  }
  .talentWrapper {
    width: 100%;
    margin: 0;
    padding-right: 19px;
    padding-left: 19px;

  }

  .cardWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbtn div a:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .logo h2 {
    display: none;
  }

  .herotext h1 {
    font-size: 32px;
  }
  .herotext p {
    font-size: 18px;
  }

  .cardsection > h2 {
    width: 100%;
  }

  .textContent > p{
    font-size: 30px;
    text-wrap: wrap;
    width: 100%;
  }

  .cardWrapper{
    max-width: 300px;
  }

  .talentLowWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  /* Text Only Section */

  .textOnly > p {
      font-size: 32px;
      width: 100%;
  }

  /* Button Wrapper section */

  .txt {
      padding: 3px;
  }

  .txt > button {
      width: 80px;
      font-size: 12px;
      text-align: center;
      padding: 8px;
  }

  .action{
    padding: unset;
    /* padding-bottom: 10rem; */
  }

  .wrapper span{
    font-size: 25px;
    font-weight: 500;
  }

  .wrapper .spanTwo {
    font-size: 20px;
  }

  /* Card Row Section */

  .cardRow {
    background-color: #d9d9d9;
    padding: 30px 0px;
    border-radius: 30px;
  }

  .cardRow .cardOne {
    background-color: transparent;
  }
 
}